/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 64px;
  font-weight: 700;
  color: #000000;
}

.number-identify {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 700;
  color: #334155;
}

.button {
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  color: #334155;
  border-radius: 8px;
}

.paragraph {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  color: #334155;
}
